<section id="skills" class="skills">
    <div class="section-content">
        <h2>SKILLS</h2>
        <div class="skills-row">
            <!-- Technical Skills -->
            <div class="skills-col">
                <h3>Technical Skills</h3>
                <div class="images-row">
                    <div class="skill-item" *ngFor="let skill of technicalSkills">
                        <div class="skill-icon">
                            <img [src]="skill.imageSrc" alt="{{ skill.name }}">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Professional Skills -->
            <div class="skills-col">
                <h3>Professional Skills</h3>
                <div class="words-row">
                    <div class="skill-item" *ngFor="let skill of professionalSkills">
                        <div class="skill-icon">
                            <span>{{ skill.name }}</span>
                            <span class="emoji" [ngStyle]="{'font-size': '24px'}">{{ skill.emojis }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>