<section id="sobremi" class="sobremi">
    <div class="contenido-seccion">
        <h2>ABOUT ME</h2>
        <p>As a Full Stack developer I am focusing on JavaScript, React, Angular, NodeJS and Python.
            With background years working in retail I am known for my ability to business skills, analysis, team
            management and
            collaboration with multicultural environments. Always on the lookout for opportunities to learn and stay
            up-to-date with
            the latest trends in the field of development. Eager to embark on this new career, face new challenges, and
            contribute
            to the success of teams and companies.</p>
        <div class="fila">
            <div class="col">
                <h3>Personal Information</h3>
                <ul>
                    <li>
                        <strong>Phone number:</strong> {{ phoneNumber }}
                    </li>
                    <li>
                        <strong>Email:</strong> {{ email }}
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="contenedor-intereses">
                    <div class="interes" *ngFor="let interest of interests">
                        <fa-icon [icon]="interest.icon"></fa-icon>
                        <span>{{ interest.name }}</span>
                    </div>
                </div>
            </div>
        </div>
        <a [href]="cvDownloadLink" download="Cv Sebastian">
            Download CV <fa-icon [icon]="faDownload"></fa-icon>
            <span class="overlay"></span>
        </a>
    </div>
</section>