@import url('../../../styles.css');

.inicio {
    background: linear-gradient(#d64a38, #e6bd84);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inicio .contenido-banner {
    padding: 20px;
    margin-top: 120px;
    background-color: var(--background);
    text-align: center;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicio .contenido-banner .contenedor-img img {
    margin-top: 40px;
    border: 3px solid var(--accent);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.inicio .contenido-banner h2 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-top: 20px;
    font-weight: normal;
    color: var(--text);
}

.inicio .contenido-banner .redes {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    margin-top: 20px;
    text-align: center;
    /* Alinea el contenido en el centro */
}

.inicio .contenido-banner .redes a {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    color: var(--text);
    text-decoration: none;
    border: 1px solid var(--accent);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    font-size: 35px;
    transition: 0.3s;
    margin: 0 10px;
}

.inicio .contenido-banner .redes a:hover {
    background-color: var(--accent);
}

@media screen and (max-width:980px) {
    .inicio .contenido-banner {
        margin-top: 120px;
    }

    .inicio {
        margin-top: 76px;
    }
}