@import url('../../../styles.css');

#educacion {
    background: linear-gradient(#d64a38, #e6bd84);
    padding: 200px 20px;
    text-align: center;

}

#educacion .education-container {
    max-width: 50%;
    margin: auto;
}

#educacion h2 {
    font-size: 48px;
    color: var(--text);
    font-family: 'Righteous';
    padding: 30px 0;
}

#educacion ul {
    list-style: none;
    padding: 0;

}

#educacion .study-info {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#educacion .study-info h3 {
    font-size: 24px;
    font-family: 'Righteous';
    margin-bottom: 10px;

}

#educacion .study-info p {
    font-size: 16px;
    line-height: 20px;
    margin: 5px 0;
}

#educacion .language-icon {
    margin-right: 10px;
}

#educacion .study-info fa-icon {
    font-size: 24px;
    color: var(--text);
}

#educacion .study-info fa-icon:hover {
    color: var(--primary);
}


@media screen and (max-width: 768px) {
    #educacion .education-container {
        max-width: 100%;

    }

    #educacion h2 {
        font-size: 35px;
        padding: 20px 0;
    }
}