<app-menu></app-menu>
<router-outlet></router-outlet>
<main>
  <app-sobremi></app-sobremi>
  <app-skills></app-skills>
  <app-proyectos></app-proyectos>
  <app-educacion></app-educacion>
  <app-contacto></app-contacto>
</main>

<footer>
  <a href="#inicio" fragment="top" class="arriba"><fa-icon [icon]="faArrowUp"></fa-icon></a>
  <div class="redes">
    <a href="https://instagram.com/sebastian_roccuzzo?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr"
      class="btn btn-link"><fa-icon [icon]="faInstagram"></fa-icon></a>
    <a href="https://www.linkedin.com/in/sebastian-roccuzzo/" class="btn btn-link"><fa-icon
        [icon]="faLinkedin"></fa-icon></a>
    <a href="https://github.com/SIgnacioRoccuzzo" class="btn btn-link"> <fa-icon [icon]="faGithub"></fa-icon></a>
  </div>
</footer>