<section id="proyectos" class="portfolio">
    <div class="contenido-seccion">
        <h2>PROJECTS</h2>
        <div class="proyectos-container">
            <div class="proyecto" *ngFor="let proyecto of proyectos">
                <div class="proyecto-imagen">
                    <img [src]="proyecto.imagen" alt="">
                </div>
                <div class="proyecto-informacion">
                    <h3>{{ proyecto.nombre }}</h3>
                    <p>{{ proyecto.descripcion }}</p>
                    <a [href]="proyecto.url" target="_blank">View Project</a>
                </div>
            </div>
        </div>
    </div>
</section>