@import url('../../../styles.css');

.portfolio {
    background-color: var(--background);
    padding: 45px;
    text-align: center;

}

.portfolio .proyectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}

.portfolio h2 {
    font-size: 48px;
    color: var(--text);
    font-family: 'Righteous';
    padding: 30px 0;
}

.portfolio .proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: calc(33.33% - 20px);
    background-color: var(--background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}

.portfolio .proyecto .proyecto-imagen img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
}

.portfolio .proyecto .proyecto-informacion {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio .proyecto .proyecto-informacion h3 {
    font-size: 20px;
    font-family: 'Righteous';
    color: var(--text);
    margin-bottom: 10px;
}

.portfolio .proyecto .proyecto-informacion p {
    font-size: 15px;
    line-height: 18px;
    color: var(--text);
    margin: 5px 0;
}

.portfolio .proyecto .proyecto-informacion a {
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    display: block;
    transition: color 0.3s;
    /* Agrega una transición suave para el cambio de color */
}

.portfolio .proyecto .proyecto-informacion a fa-icon {
    font-size: 30px;
}

.portfolio .proyecto .proyecto-informacion a:hover {
    color: var(--primary);
}



@media (max-width: 768px) {
    .portfolio h2 {
        font-size: 35px;
    }

    .portfolio .proyecto .proyecto-informacion h3 {
        font-size: 15px;
    }

    .portfolio .proyecto .proyecto-informacion p {
        font-size: 12px;
    }

    .portfolio .proyecto {
        width: calc(50% - 10px);
        margin: 5px;
    }
}

@media (max-width: 576px) {
    .portfolio {
        padding: 110px 20px;
    }

    .portfolio h2 {
        font-size: 35px;
    }

    .portfolio .proyecto {
        width: 80%;
        margin: 10px;
    }
}