<div class="contenedor-header">
    <header>
        <div class="logo">
            <a [routerLink]="['/inicio']" routerLinkActive="active" (click)="scrollTo('inicio')">Sebastian Roccuzzo</a>
        </div>
        <div class="nav-responsive" (click)="toggleWebMenu()">☰</div>

        <nav [ngClass]="{'responsive': menuVisible, 'web-menu': !menuVisible}">
            <ul class="menu-list" [ngClass]="{'responsive': menuVisible}">
                <li *ngFor="let section of menuSections" [routerLink]="[section.route]" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" (click)="scrollTo(section.route); toggleWebMenu()"
                    [ngClass]="{'active': isActive(section.route)}">
                    <a>{{ section.label }}</a>
                </li>
            </ul>
        </nav>
    </header>
</div>